@model IEnumerable<Employee>

@{
    ViewBag.Title = "Index page";
}

<div class="card-deck">
    @foreach (var employee in Model)
    {
        var photoPath = "~/images/" + (employee.PhotoPath ?? "noimage.jpg");
    <div class="card m-3">
        <div class="card-header">
            <h3>@employee.Name</h3>
        </div>

        <img src="@photoPath" alt="no profile image" class="card-img-top" asp-append-version="true" />
        <div class="card-footer text-center">
            <a asp-controller="home" asp-action="details" asp-route-id="@employee.Id"
    class="btn btn-primary m-1">View</a>
            <a asp-controller="home" asp-action="Edit" asp-route-id="@employee.Id" class="btn btn-primary m-1">Edit</a>
            <a asp-controller="home" asp-action="Delete" asp-route-id="@employee.Id" class="btn btn-danger m-1">Delete</a>
        </div>
    </div>
    }
</div>